.table {
  &__container {
    background-color: white;
    overflow-x: auto;
    margin: 0, auto;
  }
  &__content {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #ddd;

    & tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    & th,
    td {
      text-align: left;
      padding: 8px;
    }
  }
}

.message {
  &__success {
    display: block;
    background-color: rgb(105, 233, 105);
    color: #2c2c2c;
    border: solid 1px rgb(47, 121, 47);
    width: 100%;
    text-align: center;
  }
}
